[submodule "dirent"]
	path = 3rdparty/dirent
	url = https://github.com/tronkko/dirent.git
	branch = master
[submodule "imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
	branch = master
